body {
    font-family: Arial, sans-serif;
    background-color: beige;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;  
    align-items: center;
}

h2 {
    text-align: center;
    color: sienna;
}

form {
    width: 400px;
    background: white;
    padding: 20px 40px;
    border-radius: 10px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: dimgray;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    width: 100%;
    margin-top: 15px;
    background-color: brown;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: maroon;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-top: 4px;
}

.sukses {
    margin-top: 15px;
    color: green;
    font-weight: bold;
    text-align: center;
}

