* {
      margin: 0;
      padding: 0;
    }
    
    body {
      font-family: garamond;
      background: #667eea;
      padding: 20px;
    }
    
    .inputan, .tabel {
      background: white;
      padding: 20px;
      border-radius: 8px;
    }

    .tabel {
      width: fit-content;
      height: fit-content;
    }
    
    form {
      display: flex;
      flex-direction: column;
    }
    
    label {
      font-weight: 600;
      margin-bottom: 5px;
    }

    input {
      padding: 10px;
      border: 1px solid ;
      border-radius: 4px;
      font-size: 14px;
    }

    select {
      padding: 10px;
      border: 1px solid ;
      border-radius: 4px;
      font-size: 14px;
      cursor: pointer;
    }
    
    input[type="submit"] {
      background: #667eea;
      color: white;
      cursor: pointer;
      font-weight: 600;
    }
    
    hr {
      border: 1px solid;
      color: gray;
      margin: 20px 0;
    }
    
    table {
      border: 1px solid;
    }
    
    td ,th {
      padding: 12px;
      border: 1px solid;
      text-align: center;
      min-width: 40px;
    }