.box {
	background-color: #f2f1f1;
	max-width: 600px;
	align-items: center;
	padding: 20px;
	margin-left: 20px;
	margin-top: 20px;
	border-radius: 12px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

fieldset {
	background: linear-gradient(to right, #ececec, #828282);
	border: none;
	border-radius: 10px;
	padding: 30px;
	gap: 15px 20px;
}

.isi {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.isi label {
	width: 160px;
	font-weight: bold;
	color: #000000;
}

input[type="number"],
select {
	padding: 8px 12px;
	border: 1px solid #ccc;
	border-radius: 6px;
	width: 100%;
	max-width: 250px;
	font-size: 14px;
}

button {
	padding: 10px 20px;
	background-color: #5b5b5b;
	color: white;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	font-weight: bold;
	transition: background-color 0.3s ease;
}

table {
	margin: 40px ;
	border-collapse: collapse;
	width: 30%;
	box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

th, td {
	padding: 10px;
	border: 1px solid #999;
	text-align: center;
}

th {
  	font-weight: bold;
}

td {
  	background-color: #fff;
}

td[style*="background-color"] {
  	color: white;
}